<!doctype html>

{% load static %}
{% block content %}
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="{% static 'css/Khoj_the_search_Page/search_page.css' %}">
  <title>Khoj the search Page</title>
</head>
<body>
  <div class="container">
    <h2>Khoj the Search</h2>
    <form method="post">
      {% csrf_token %}
      <div class="form-group">
        <label for="input_values">Input Values (comma separated integers):</label>
        <input type="text" class="form-control" name="input_values" required>
      </div>
      <div class="form-group">
        <label for="search_value">Search Value:</label>
        <input type="number" class="form-control" name="search_value" required>
      </div>
      <button type="submit" class="btn btn-primary">Khoj</button>
    </form>
    {% if is_search_value_present is not None %}
      <p>Output: {% if is_search_value_present %}True{% else %}False{% endif %}</p>
    {% endif %}
  </div>
  <div class="api-link">
  <p class="API-Endpoints">API Endpoints? <a href="{% url 'get_all_input_values' user_id=request.user.id%}">Get All Input Values</a></p>
  </div>

</body>
</html>



{% endblock %}
